{% extends 'base.html.twig' %}

{% block title %}{{'User modification' | trans}}{% endblock %}

{% block body %}
    <div class="conatiner">
        <h1 class="mt-4">{{'User Information Edit Form' | trans}}</h1>

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
       <button type="submit" class="btn btn-primary mt-4">{{'Validate' | trans}}</button>
    </div>

    
{% endblock %}
