{% extends 'base.html.twig' %}

{% block title %}{{'History Rooms' | trans}}{% endblock %}

{% block body %}
{% set firstNameDisplayed = false %}

    {% for reservation in reservations %}
        {% if not firstNameDisplayed %}
            <h1>{{'Hello' | trans}} {{ reservation.user.firstname }} {{'books you have read' | trans}}</h1>
        {% set firstNameDisplayed = true %} 
        {% endif %}   
    {% endfor %}


        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">{{'Room name' | trans}}</th>
            <th scope="col">{{'Room capacity' | trans}}</th>
            <th scope="col">{{'Equipment' | trans}}</th>
            <th scope="col">{{'Reservation start date' | trans}}</th>
            <th scope="col">{{'Reservation end date' | trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                <th scope="row">{{ reservation.room.name }}</th>
                <td>{{ reservation.room.capability }}</td>
                <td>
                    {% for equipement in reservation.room.equipement %}
                        {{ equipement.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ reservation.dateDebut |date('Y-m-d H:i:s') }}</td>
                <td>{{ reservation.dateFin |date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}
