{% extends 'base.html.twig' %}

{% block title %}{{'History Rooms' | trans}}{% endblock %}

{% block body %}
{% set firstNameDisplayed = false %}

        {% if not firstNameDisplayed %}
            <h1>{{'Hello' | trans}} {{ prenomUser}} {{'room you have loan' | trans}}</h1>
        {% set firstNameDisplayed = true %} 
        {% endif %}   


        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">{{'Room name' | trans}}</th>
            <th scope="col">{{'Room capacity' | trans}}</th>
            <th scope="col">{{'Equipment' | trans}}</th>
            <th scope="col">{{'Reservation start date' | trans}}</th>
            <th scope="col">{{'Reservation end date' | trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservationsDetails %}
                <tr>
                <th scope="row">{{ reservation.nom_salle }}</th>
                <td>{{ reservation.capacite }}</td>
                <td>
                {% for equipement in reservation.equipements %}
                    {{ equipement.getNom() }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>{{ reservation.date_debut |date('Y-m-d H:i:s') }}</td>
                <td>{{ reservation.date_fin |date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}
