{% extends 'base.html.twig' %}
{% block body %}



    <title>Liste des emprunts</title>
   
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .card img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Liste des emprunts de livres</h1>
  {% for books in emprunts %} 

    {% for emprunt in books.empruntLivres %}
        <div class="card">
            <h2>{{ emprunt.book.id }}</h2>
            <h3>{{ emprunt.book.title}}</h3>
             <img src="{{ emprunt.book.image }}" alt="{{ emprunt.book.title }}" class="book-image" />
            <p>Date d'emprunt : {{ emprunt.dateEmprunt|date('Y-m-d') }}</p>
            <p>Date de retour : {{ emprunt.dateRetour|date('Y-m-d') }}</p>
            {# <a href="{{ path('effectuer_restitution', {'id': emprunt.id}) }}">Effectuer la restitution</a> #}
        </div>
    {% endfor %}
    {% endfor %} 

{% endblock %}