{% extends 'base.html.twig' %}

{% block title %}{{ 'Book Details' | trans }}{{ book.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ book.title }}</h1>
    <img src="{{ book.image }}" alt="{{ book.title }}" class="book-image" />
    <p>{{ book.resume }}</p>

    {% if is_granted('ROLE_USER') and hasActiveSubscription %}
        {% if book.disponibility %}
            <a href="{{ path('app_emprunt_livre_new', { 'id': book.id }) }}" class="btn btn-primary">Emprunter</a>
        {% else %}
            <p>Ce livre n'est pas disponible pour l'emprunt actuellement.</p>
        {% endif %}
    {% elseif is_granted('ROLE_USER') and not hasActiveSubscription %}
        <p class='alert-danger'>Vous avez besoin d'un abonnement actif pour emprunter un livre.</p>
    {% else %}
        <p class='alert-danger'>Veuillez vous inscrire ou vous connecter.</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Cliquez ici</a>
    {% endif %}
</div>
{% endblock %}
