
 {% extends 'base.html.twig' %}

{% block title %}{{'List of books' | trans}}{% endblock %}

{% block body %}
   <div class="example-wrapper">
    <h1>{{ book.title }}</h1>
    <img src="{{ book.image }}" alt="{{ book.title }}" class="book-image" />
    <p>{{ book.resume }}</p>
    <p>État du livre : {{ book.etat }}</p>
    <p>Catégorie : {{ book.categorie }}</p>
    {% if book.disponibility %}
        <a href="{{ path('app_emprunt', {'id': book.id}) }}" class="btn btn-primary">Emprunter</a>
    {% else %}
        <p>Ce livre n'est pas disponible pour l'emprunt actuellement.</p>
    {% endif %}

    <h1>{{'List of books' | trans}}</h1>
    <ul>
        {% for book in livres %}
            <li>{{ book.title }}</li>
            <img src="{{ book.image }}" alt="{{ book.title }}" class="book-image" />
            <li>{{ book.author }}</li>
         <a href="{{ path("details",{id:book.id}) }}">{{'See more' | trans}}</a>   
            
        {% endfor %}
           
    </ul>

</div>
{% endblock %}