{% extends 'base.html.twig' %}

{% block title %}{{'List of books' | trans}}{% endblock %}

{% block body %}

{% for livres in livres %}
   <div class="example-wrapper">

    <h1>{{ livres.title }}</h1>
    <img src="{{ livres.image }}" alt="{{ livres.title }}" class="book-image" />
    <p>{{ livres.resume }}</p>
    <p>État du livre : {{ livres.etat.typeEtat  }}</p>
    <p>Catégorie : {{ livres.categorie.name }}</p>
    {% if livres.disponibility %}
        <a href="{{ path('app_emprunt_livre_index', {'id': livres.id}) }}" class="btn btn-primary">Emprunter</a>
    {% else %}
        <p>Ce livre n'est pas disponible pour l'emprunt actuellement.</p>
    {% endif %}
    {% endfor %}


    {% if app.flashes('success') is not empty %}
        <div class="alert alert-success">
            {% for message in app.flashes('success') %}
                {{ message }}
            {% endfor %}
           
        </div>
   <div class="example-wrapper">
    <h1>{{ livres.title }}</h1>
    <img src="{{ livres.image }}" alt="{{ livres.title }}" class="book-image" />
    <p>{{ livres.resume }}</p>
    <p>État du livre : {{ livres.etat }}</p>
    <p>Catégorie : {{ livres.categorie }}</p> 
    {% if livres.disponibility %}
        <a href="{{ path('app_emprunt', {'id': livres.id}) }}" class="btn btn-primary">Emprunter</a>
    {% else %}
        <p>Ce livre n'est pas disponible pour l'emprunt actuellement.</p>
    {% endif %}
{% endif %}

    <h1>{{'List of books' | trans}}</h1>
    <ul>
        {% for livres in livres %}
            <li>{{ livres.title }}</li>
            <img src="{{ livres.image }}" alt="{{ livres.title }}" class="book-image" />
            <li>{{ livres.author }}</li>
         <a href="{{ path("details",{id:livres.id}) }}">{{'See more' | trans}}</a>

        {% endfor %}

    </ul>

</div>
{% endblock %}