{% extends 'base.html.twig' %}

{% block title %}{{'History of books' | trans }} {% endblock %}

{% block body %}

    {% set firstNameDisplayed = false %}

    {% for emprunt in emprunts %}
        {% if not firstNameDisplayed %}
            <h1>Bonjour {{ emprunt.user.firstname }} des livres que vous avez lu</h1>
        {% set firstNameDisplayed = true %} 
        {% endif %}   
    {% endfor %}


        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">{{'Title' | trans}}</th>
            <th scope="col">{{'Author' | trans}}</th>
            <th scope="col"> {{'Loan date' | trans}}</th>
            <th scope="col">{{'Return date' | trans}}</th>
            <th scope="col">{{'Effective return date' | trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for emprunt in emprunts %}
                <tr>
                <th scope="row">{{ emprunt.book.title }}</th>
                <td>{{ emprunt.book.author }}</td>
                <td>{{ emprunt.dateEmprunt|date('Y-m-d H:i:s') }}</td>
                <td>{{ emprunt.dateRestitution|date('Y-m-d H:i:s') }}</td>
                <td>{{ emprunt.dateRestitutionEffective|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}
