{% extends 'base.html.twig' %}

{% block title %}Mes Emprunts{% endblock %}

{% block body %}
    <h1>Mes Emprunts</h1>
    <table>
        <thead>
            <tr>
                <th>Livre</th>
                <th>Date d'emprunt</th>
                <th>Date de retour</th>
                <th>Date de restitution effective</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
                <tr>
                    <td>{{ loan.getBook().getTitle() }}</td>
                    <td>{{ loan.getDateEmprunt() | date('Y-m-d') }}</td>
                    <td>{% if loan.isOverdue() %}<span style="color:red">{{ loan.getDateRetour() | date('Y-m-d') }}</span>{% else %}{{ loan.getDateRetour() | date('Y-m-d') }}{% endif %}</td>
                    <td>{{ loan.getDateRestitutionEffective() | date('Y-m-d') }}</td>
                    <td>
                        {% if loan.isOverdue() %}
                            <a href="{{ path('extend_loan', {'id': loan.getId()}) }}" class="btn btn-primary">Demander une extension</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}