{% extends 'base.html.twig' %}

{% block title %}EmpruntLivre{% endblock %}

{% block body %}
    <h1>EmpruntLivre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt_livre.id }}</td>
            </tr>
            <tr>
                <th>DateEmprunt</th>
                <td>{{ emprunt_livre.dateEmprunt ? emprunt_livre.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRestitution</th>
                <td>{{ emprunt_livre.dateRestitution ? emprunt_livre.dateRestitution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRestituionEffective</th>
                <td>{{ emprunt_livre.dateRestituionEffective ? emprunt_livre.dateRestituionEffective|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_livre_index') }}">back to list</a>

    <a href="{{ path('app_emprunt_livre_edit', {'id': emprunt_livre.id}) }}">edit</a>

    {{ include('emprunt_livre/_delete_form.html.twig') }}
{% endblock %}
