{% extends 'base.html.twig' %}

{% block title %}{{'Room Management' | trans}}{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="text-center mb-4">{{'Our Rooms' | trans}}</h1>
    <div class="row justify-content-center">
        {% for room in rooms %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{ room.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{'Capacity:' | trans}} {{ room.capability }} {{'people:' | trans}}</p>
                    <p class="card-text">{{'Equipment:' | trans}}</p>
                    <ul class="list-unstyled">
                        {% for equip in room.equipement %}
                        <li>{{ equip.nom }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if is_granted('ROLE_USER') and hasActiveSubscription %}
                <div class="card-footer">
                    <a href="{{ path('app_reservation', {id: room.id}) }}" class="btn btn-primary btn-block">{{'To book' | trans}}</a>
                </div>
                {% elseif is_granted('ROLE_USER') and not hasActiveSubscription %}
                <div class="card-footer text-center">
                    <p class='alert-danger'>{{'Vous avez besoin d\'un abonnement actif pour réserver cette salle ' | trans}}</p>
                    <a href="{{ path('app_account') }}" class="btn btn-primary">{{'S\'abonner' | trans}}</a>
                </div>
                {% else %}
                <div class="card-footer text-center">
                    <p class='alert-danger'>{{'Please register or log in.' | trans}}</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-block">{{'Click here' | trans}}</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
